<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.movieChart.mapper.BoardMapper">
  	<insert id="insertBoard">
  		insert board (title,content,category,username) 
  		values(#{title},#{content},#{category},#{username})
  	</insert>
  	
  	<select id="selectBoardList" resultType="com.movieChart.domain.BoardDTO">
		select title, category, nickname, board_id, write_date, view_cnt
		from board b
		join users u on u.username = b.username
		<where>
		deleted_dt is null
			<if test="syntax != null and syntax != ''">
       			and (content like concat('%', #{syntax}, '%') or title like concat('%', #{syntax}, '%'))
    		</if>
   			<if test="nickname != null and nickname != ''">
        		and nickname = #{nickname}
    		</if>
    		<if test="category != null and category != ''">
        		and category = #{category}
    		</if>
		</where>
		order by board_id desc
		limit #{startPage}, #{pageSize}
  	</select>
  	
  	<select id="selectBoard" resultType="com.movieChart.domain.BoardDTO">
	  	select title, content, category, nickname, board_id, write_date, b.username, view_cnt
	  	from board b join users u
	  	on u.username=b.username
	  	where deleted_dt is null and board_id=#{board_id}
  	</select>
  	
  	<select id="selectSurroundingBoard" resultType="com.movieChart.domain.BoardDTO">
	  	select title, category, nickname, board_id , write_date
	  	from board b join users u
	  	on u.username=b.username
	  	where board_id in (
	    select max(board_id) 
	    from board 
	    where deleted_dt is null and board_id <![CDATA[ < ]]> #{board_id}
	    union
	    select min(board_id) 
	    from board 
	    where deleted_dt is null and board_id <![CDATA[ > ]]> #{board_id}
	    )
  	</select>
  	
  	<update id="updateBoard">
	  	update board 
	  	set title=#{title},
	  	category=#{category},
	  	content=#{content}
	  	where board_id=#{board_id} 
  	</update>
  	
	<update id="updateViewcntOne">
		update board b
		join (select coalesce(max(view_cnt), 0) as max_viewcnt 
		from board where board_id = #{board_id}) as self
		set b.view_cnt = self.max_viewcnt + 1
		where b.board_id = #{board_id};
	</update>  	
	
	<select id="selectCountBoard_id" resultType="int">
	   select count(board_id) 
	   from board b join users u
	   on u.username=b.username
	   <where>
	   deleted_dt is null
			<if test="syntax != null and syntax != ''">
       			and (content like concat('%', #{syntax}, '%') or title like concat('%', #{syntax}, '%'))
    		</if>
   			<if test="nickname != null and nickname != ''">
        		and nickname = #{nickname}
    		</if>
    		<if test="category != null and category != ''">
        		and category = #{category}
    		</if>
		</where>
	</select>
	
	<select id="selectDeletedBoards" resultType="com.movieChart.domain.BoardDTO">
		select *
		from board
		where deleted_dt is not null
	</select>
	
	<update id="softDeleteBoard">
		update board
		set deleted_dt = now()
		where board_id=#{board_id}
	</update>

  </mapper>