<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.movieChart.mapper.BoardFileMapper">
  	<insert id="insertBoardFiles">
  		insert into boardfile
  		(board_id, uuid, filename)
  		values
  		((select max(board_id)
  		from board),#{uuid},#{fileName})
  	</insert>
  	
  	<select id="selectBoardFiles" resultType="com.movieChart.domain.BoardFileDTO">
  		select *
  		from boardfile
  		where board_id = #{board_id}
  	</select>
  </mapper>