<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.movieChart.mapper.MovieMapper">
  	<select id="selectMovie">
  		select *
  		from movie
  		where code_no= #{code_no}
  	</select>

  	<insert id="insertMovie">
  		insert into movie
  		(code_no, title, image, synopsis)
  		values
  		(#{code_no},#{title},#{image},#{synopsis})
  	</insert>

  	<insert id="insertMovieList" parameterType="java.util.List">
  		insert into movie
  		(code_no, title, image, synopsis)
  		values
  		<foreach collection="list" item="movie" separator=",">
        	(#{movie.code_no}, #{movie.title}, #{movie.image},#{movie.synopsis})
    	</foreach>
  	</insert>
  	
  	<select id="selectMovieNoAll" resultType="int">
  		select code_no
  		from movie
  	</select>
  </mapper>