<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.movieChart.mapper.MovieMapper">
  	<select id="selectMovie" resultType="com.movieChart.domain.MovieDTO">
  		select *
  		from movie
  		where code_no= #{code_no}
  	</select>

  	<insert id="insertMovie">
  		insert into movie
  		(code_no, title, image, synopsis, genre, director,prod_year)
  		values
  		(#{code_no},#{title},#{image},#{synopsis}, #{genre},#{director},#{prod_year})
  	</insert>

  	<insert id="insertMovieList" parameterType="java.util.List">
  		insert into movie
  		(code_no, title, image, synopsis,genre, director,prod_year)
  		values
  		<foreach collection="list" item="movie" separator=",">
        	(#{movie.code_no}, #{movie.title}, #{movie.image},#{movie.synopsis},
        	#{movie.genre},#{movie.director},#{movie.prod_year})
    	</foreach>
  	</insert>
  	
  	<select id="searchMovie" resultType="com.movieChart.domain.MovieDTO">
  		select *
  		from movie
  		<where>
   	 		<if test="syntax != null and syntax != ''">
		        (title like concat('%', #{syntax}, '%')
		        or synopsis like concat('%', #{syntax}, '%')
		        or genre like concat('%', #{syntax}, '%')
		        or director like concat('%', #{syntax}, '%')
		        or prod_year = #{syntax})
		    </if>
		</where>
  		limit #{startPage},#{pageSize}
  	</select>

  	<select id="countCode_no" resultType="int">
  		select count(*)
  		from movie
  		<where>
   	 		<if test="syntax != null and syntax != ''">
		        (title like concat('%', #{syntax}, '%')
		        or synopsis like concat('%', #{syntax}, '%')
		        or genre like concat('%', #{syntax}, '%')
		        or director like concat('%', #{syntax}, '%')
		        or prod_year = #{syntax})
		    </if>
		</where>
  	</select>
  	
  	<select id="selectMovieNoAll" resultType="String">
  		select code_no
  		from movie
  	</select>
  	
  	<select id="selectMaxDt" resultType="String">
  		select max(update_dt)
  		from movie
  	</select>
  	
  	<select id="selectCountMovie" resultType="int">
  		select count(*)
  		from movie
  	</select>
  </mapper>