<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.movieChart.mapper.ReplyMapper">
  	<insert id="insertReply">
  		insert into reply (board_id, reply, username, reply_id)
		select #{board_id}, #{reply}, #{username}, coalesce(max(reply_id), 0) + 1
		from reply
		where board_id = #{board_id}
  	</insert>
	
	<select id="selectReplys" resultType="com.movieChart.domain.ReplyDTO">
		select reply, r.username, reply_id, reply_dt, nickname
		from reply r join users u
		on r.username = u.username
		where board_id=#{board_id} and deleted_dt is null
	</select>
	
	<update id="updateReply">
		update reply
		set reply=#{reply}
		where board_id=#{board_id} and reply_id= #{reply_id}
	</update>
	
	<update id="softDeleteReply">
		update reply
		set deleted_dt = now()
		where board_id=#{board_id} and reply_id = #{reply_id}
	</update>
  </mapper>