<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.movieChart.mapper.UserMapper">

	<resultMap type="com.movieChart.domain.UserDTO" id="userMap">
		<id property="username" column="username" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="reg_date" column="reg_date" />
		<result property="email" column="email" />
		<result property="nickname" column="nickname" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<resultMap type="com.movieChart.domain.AuthoritiesDTO"
		id="authMap">
		<id property="username" column="username" />
		<result property="username" column="username" />
		<result property="authority" column="authority" />
	</resultMap>

	<insert id="insertUser">
		insert users (username, password, nickname, user_id,
		email,reg_date)
		values (#{username}, #{password}, #{nickname},
		#{user_id},#{email},#{reg_date})
	</insert>

	<select id="selectUsername" resultType="String">
		select username
		from users
		<where>
			<choose>
				<when test="password != null and password != ''">
					and password=#{password}
				</when>
			</choose>
			<choose>
				<when test="username != null and username != ''">
					and username=#{username}
				</when>
			</choose>
			<choose>
				<when test="email != null and email != ''">
					and email=#{email}
				</when>
			</choose>
		</where>
	</select>

	<select id="read" resultMap="userMap">
		select u.username, password,
		nickname, user_id, email, authority, enabled,
		reg_date
		from users u left
		join authorities a
		on u.username = a.username
		where
		u.username=#{username}
	</select>

	<select id="selectUserIdAll" resultType="Integer">
		select user_id
		from users
	</select>

	<select id="selectNickname" resultType="String">
		select nickname 
		from users
		where nickname = #{nickname}
	</select>

	<select id="selectEmail" resultType="String">
		select email
		from users
		where email = #{email}
	</select>
</mapper>